*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
#root,
html {
  height: 100%;
}

.color-box {
  height: 65vh;
  max-height: 500px;
  width: 85vw;
  max-width: 500px;
  margin-bottom: 5px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

button {
  max-width: 150px;
  max-height: 75px;
  padding: 10px;
  margin: 10px;
}

.correct {
  font-size: 2rem;
  color: green;
}

.incorrect {
  font-size: 2rem;
  color: red;
}

.score {
  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 10px;
}
